.sidebar {
    width: 230px;
    background-color: white;
    height: calc(100vh - 80px);
    overflow-y: auto;
    padding: 15px;
    display: flex;
    flex:0 0 230px;
    flex-direction: column;
    gap: 5px;
    transition: all 0.3s ease-in;
    border-right: 2px solid rgba(0, 0, 0, 0.1);
}

.firstSec, .teaching, .enrolled, .settings {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 0;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.sidebar-link {
    display: flex;
    align-items: center;
    border-radius: 8px;
    cursor: pointer;
    transition: background 0.3s ease-in-out, transform 0.2s;
    font-size: 20px;
    font-weight: 500;
    color: #34495e;
}

.sidebar-link p{
    padding-left: 15px;
    font-size: 20px;
    margin: 0;
}

.sidebar-link:hover {
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.05);
    transform: translateX(5px);
}

.sidebar.visible {
    left: 0;
}


@media (max-width: 1048px) {
    .sidebar {
        position: absolute;
        left: -270px;
        top: 80px;
        height: calc(100vh - 80px);
        overflow-y: auto;
        transition: left 0.3s ease-in-out;
        box-shadow: none;
    }
}
